@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/WechatIMG62.jpeg');
  background-size: 100% 100%;
  left: 0;
  position: relative;
}
